@font-face {
    font-family: 'Archy';
    src: url('../fonts/ARArchyThin.eot');
    src: url('../fonts/ARArchyThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ARArchyThin.woff2') format('woff2'),
        url('../fonts/ARArchyThin.woff') format('woff'),
        url('../fonts/ARArchyThin.ttf') format('truetype'),
        url('../fonts/ARArchyThin.svg#ARArchyThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Zap';
    src: url('../fonts/ZapfDingbats.eot');
    src: url('../fonts/ZapfDingbats.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ZapfDingbats.woff2') format('woff2'),
        url('../fonts/ZapfDingbats.woff') format('woff'),
        url('../fonts/ZapfDingbats.ttf') format('truetype'),
        url('../fonts/ZapfDingbats.svg#ZapfDingbats') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Archy EDT';
    src: url('../fonts/ArchyEDT-Thin.eot');
    src: url('../fonts/ArchyEDT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArchyEDT-Thin.woff2') format('woff2'),
        url('../fonts/ArchyEDT-Thin.woff') format('woff'),
        url('../fonts/ArchyEDT-Thin.ttf') format('truetype'),
        url('../fonts/ArchyEDT-Thin.svg#ArchyEDT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archy EDT';
    src: url('../fonts/ArchyEDT-Thin_1.eot');
    src: url('../fonts/ArchyEDT-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArchyEDT-Thin_1.woff2') format('woff2'),
        url('../fonts/ArchyEDT-Thin_1.woff') format('woff'),
        url('../fonts/ArchyEDT-Thin_1.ttf') format('truetype'),
        url('../fonts/ArchyEDT-Thin_1.svg#ArchyEDT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
