* {
    box-sizing: border-box;
}

.container  {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.whole-header {
    margin-top: 50px;
    align-items: center;
    margin-bottom: 60px;
    
}
.list li{
    margin-left: 80px;
}
.list li a {
    color: #707070;
    font-size: 20px;
    font-family: "Archy EDT", sans-serif;
	-webkit-text-stroke: 1px #707070;
}
.logo {
    width: 122px;
    height: 95.04px;
}
.search {
    margin-left: 80px;
    width: 25.5px;
    height: 25.5px;
}
.guitarman {
    max-width: 1640px;
    width: 100%;
}
.guitarman img {
    object-fit: cover;
    width: 100%;
}
.cover {
    display: none;
    width:100%;
    object-fit: cover;

}
.firstSection {
    margin-top: 150px;
}
.sectionBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.littleContainer {
    max-width: 483px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-color: #707070;
    border-bottom: ridge 1px;
    border-right-color: #707070;
    border-right: ridge 1px;
    border-left-color: #707070;
    border-left: ridge 1px;
    
}
.littleContainer h3 {
    padding-left: 12px;
    margin-top: 29px;
    margin-bottom: 38px;
    font-family: "Archy EDT";
    font-size: 30px;
    color: #707070;
}
.littleContainer p {
    padding-left: 12px;
    padding-right: 35px;
    font-size: 18px;
    color: #707070;
}
.more {
    align-self: flex-end;
    font-size: 24px;
    font-family: "Archy EDT";
    -webkit-text-stroke: 1px #707070;
    padding-right: 14px;
    padding-bottom: 35px;
    padding-top: 83px;
}
.more a {
    color: #707070;
}
h2 {
    margin-bottom: 71px;
    font-size: 40px;
    font-family: "Archy EDT";
}
.LoadMore a {
    font-family: "Archy EDT";
    font-size: 30px;
    color: #707070;
    -webkit-text-stroke: 3px #707070;
    text-decoration: underline;
}

.LoadMore {
    margin-top: 65px;
    text-align: center;
    margin-bottom: 64.5px;
}
footer {
    background-color: #2E2E2E;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-logo {
    width: 122px;
    height: 95.04px;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.cont {
    font-family: "Archy EDT";
    font-size: 20px;
    color: #F2F2F2;
}
.number, .mail {
    font-family: "Archy EDT";
    font-size: 13px;
    color: #F2F2F2;
}
.adress {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.adr {
    font-family: "Archy EDT";
    font-size: 19px;
    color: #F2F2F2;  
}
.city-street {
    font-family: "Archy EDT";
    font-size: 10px;
    color: #F2F2F2; 

}
.fb {
    margin-right: 34.1px;
}

@media (max-width: 1024px) {
    nav {
        display: none;
    }
    .flex {
        justify-content: space-around;
    }
    .guitarman {
        display: none;
    }
    .cover {
        display: block;
    }
    .cover img {
        object-fit: cover;
        max-width: 768px;
        width: 100%;
    }
    .footer-logo {
        display: none;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact {
        margin-bottom: 41px;
    }
    .adress {
        margin-bottom: 44.1px;
    }
}